# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

theme_config:
  loading: https://selfb.asia/static/particlex/images/loading.gif
  background: 
    - https://selfb.asia/public/2023-2-6-8d14e464-2200-4e54-af81-0d9f25f55b3e.webp
    - https://selfb.asia/public/2023-2-0-66a241f4-eca3-45f3-b590-05aeed688f60.webp
    - https://selfb.asia/images/2024/02/wallhaven-m3go6m_2560x1080.webp
    - https://selfb.asia/images/2024/02/wallhaven-6dgmvl_2560x1080.webp
  avatar: https://selfb.asia/images/2024/02/avator.webp
  menu:
    Home:
        name: house
        theme: solid
        src: /
    About:
        name: id-card
        theme: solid
        src: /about
    Archives:
        name: box-archive
        theme: solid
        src: /archives
  card:
    enable: true
    description: |
        这个人很懒，没有个人简介
        
    iconLinks:
        {}
        # <name>:
        #    name: <icon-name>
        #    theme: <icon-theme>
        #    link: <link-url>
    friendLinks:
        {}
        # <name>: <link-url>
  giscus:
    enable: true
    src: https://giscus.app/client.js
    repo: IceOfSummer/iceofsummer.github.io
    repoID: R_kgDOJFU7OQ
    category: Announcements
    categoryID: DIC_kwDOJFU7Oc4CUyC7
    mapping: title
    strict: 0
    reactionsEnabled: 1
    emitMetadata: 0
    inputPosition: top
    theme: preferred_color_scheme
    lang: zh-CN
    
# Site
title: IceOfSummerの博客
subtitle: '还是自己搭的博客靠谱'
description: '后面一辈子的博客都在这了！'
keywords:
author: IceOfSummer
authorHome: https://github.com/IceOfSummer
language: zh-CN
timezone: Asia/Shanghai

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: http://example.com
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :year/:month/:title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
# v7
syntax_highlighter: 
# v6
highlight:
  enable: false
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 6
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: particlex-my
# theme: test-themes

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: ''